extends ../layout/layout.pug
block vars
    -title= 'Chi tiet anime'
block main
        section.main__video
            .row.gx-3.gy-5.ab
                .col-xl-9
                    .video-left
                        video(controls='')
                            source(src='../../../dist/videos/1.mp4' type='video/mp4')
                            source(src='movie.ogg' type='video/ogg')
                            |                                 Your browser does not support the video tag.
                        .video-left__favourite
                            a(href='')
                                i.fa-solid.fa-heart-circle-check
                                span Add favourite
                .col-xl-3
                    .video-right
                        h2 CHOOSE SERVER
                        .video-right__title
                            p If current server doesn&apos;t work please try other servers below.
                        ul
                            li
                                a(href='')
                                    i.fa-solid.fa-play
                                    div
                                        h3 Sever
                                        span Upload
                            li
                                a(href='')
                                    i.fa-solid.fa-play
                                    div
                                        h3 Sever
                                        span Vidcloud
        section.social-network
            nav.social-network__list
                a.item(href='./detail.html' style='--i:#1DA1F2;')
                    i.fa-brands.fa-twitter
                    span Twitter
                a.item(href='' style='--i:#3B5998;')
                    i.fa-brands.fa-square-facebook
                    span Facebook
                a.item(href='' style='--i:#4DC247;')
                    i.fa-brands.fa-whatsapp
                    span WhatsApp
                a.item(href='' style='--i:#CB2027;')
                    i.fa-brands.fa-pinterest
                    span Pinterest
                a.item(href='' style='--i:#0088CC;')
                    i.fa-brands.fa-telegram
                    span Telegram
                a.item(href='' style='--i:#848484;')
                    i.fa-solid.fa-envelope
                    span Email
                a.item(href='' style='--i:#FF6550;')
                    i.fa-solid.fa-plus
                    span More
        section.main__detail
            .row.gy-5.gx-3
                .col-xl-2.col-sm-12.col-md-2
                    .detail-poster
                        .detail-poster__image
                            img(src='../../images/comedy1.jpg' alt='')
                        .detail-poster__mark
                            .result
                                h2 9.2
                                |  /
                                span 26 voted
                            progress#file(value='90' max='100')  32% 
                            .btn
                                button
                                    i.fa-regular.fa-face-smile
                                button
                                    i.fa-regular.fa-face-frown-open
                .col-xl-8.col-sm-12.col-md-8
                    .detail-content
                        ul.detail-content__heading
                            a(href='') Home
                            li
                                a(href='') Movies
                            li
                                a(href='') Glass Onion: A Knives Out Mystery
                        h2 Glass Onion: A Knives Out Mystery
                        div
                            strong HD
                            button IMDB: 8
                        .detail-content__des
                            p
                                | Intrepid detective Benoit Blanc finds himself at a lavish private estate on a Greek
                                | island, but how and why he comes to be there is only the first of many puzzles.
                                | Blanc soon meets a distinctly disparate group of friends gathering at the invitation
                                | of billionaire Miles Bron for their yearly reunion. As in all the best murder
                                | mysteries, each person harbors their own secrets, lies and motivations. And when
                                | someone turns up dead, everyone is a suspect.
                        .row.gy-3.gx-5
                            .col-xl-6.col-sm-6
                                .detail-content__row
                                    .item
                                        strong Released:
                                        span 2022-11-23
                                    .item
                                        strong Released:
                                        span 2022-11-23
                                    .item
                                        strong Released:
                                        span 2022-11-23
                            .col-xl-6.col-sm-6
                                .detail-content__row
                                    .item
                                        strong Released:
                                        span 2022-11-23
                                    .item
                                        strong Released:
                                        span 2022-11-23
                                    .item
                                        strong Released:
                                        span 2022-11-23
                .col-xl-2.col-sm-12.col-md-2
                    .trailer
                        img(src='../../images/action1.jpg' alt='')
                        .play
                            i.fa-regular.fa-face-smile
                            span Trailer
                .trailer-model
                    .form
                        .form__close
                            i.fa-solid.fa-xmark
                        iframe(width='100%' height='500' src='https://www.youtube.com/embed/ObEdLdumC2s' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        section.home-container
            .home-container__heading
                h3 Type of Film
                a(href='')
                    span View All
                    i.fa-solid.fa-chevron-right
            .home-container__main
                .row.gy-5
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='action')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/action1.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') The Lair
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 90 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='action')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/action2.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='')
                                    | The Seven Deadly Sins: Grudge of Edinburgh
                                    | Part 1
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 52 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='action')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/action3.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') High Heat
                                .card-firm__info
                                    span.item 2021
                                    i.item.fa-solid.fa-circle
                                    span.item 84 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='adventure')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/adventure1.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') Wickensburg
                                .card-firm__info
                                    span.item 2021
                                    i.item.fa-solid.fa-circle
                                    span.item 126 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='adventure')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/adventure2.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') The Amazing Maurice
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 90 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='animation')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/animation1.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') Sonic Prime
                                .card-firm__info
                                    span.item 2021
                                    i.item.fa-solid.fa-circle
                                    span.item 120 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='animation')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/animation2.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') Beauty and the Beast: A 30th Celebration
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 110 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='comedy')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/comedy1.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') The Snowball Effect
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 120 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='comedy')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/comedy2.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') Christmas Carole
                                .card-firm__info
                                    span.item 2019
                                    i.item.fa-solid.fa-circle
                                    span.item 120 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='comedy')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/comedy3.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') Babylon
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 120 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='comedy')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/comedy4.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') The Fabulous
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 100 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='drama')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/drama1.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') Treason
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 120 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='drama')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/drama2.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') The Fabulous
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 110 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='drama')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/drama3.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') The Interest of Love
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 60 m
                    .col-xl-2.col-lg-2.col-md-3.col-sm-6.col-6.oneFilm(data1='drama')
                        .film-item
                            .card-firm
                                a.card-firm__main(href='')
                                    .poster
                                        img(src='./images/drama4.jpg' alt='')
                                    .quality HD
                                    .play
                                        i.fa-solid.fa-play
                                a.card-firm__name(href='') A Brush with Christmas
                                .card-firm__info
                                    span.item 2022
                                    i.item.fa-solid.fa-circle
                                    span.item 9 m
