extends ../layout/layout.pug

block vars
    -title= 'Trang chu'
    -filmSlides = data.filmSlide
    -filmLists = data.filmList
    -btnTrendings = data.btnTrending
    
block js
    script(src='./js/index.js')
block main
    section.swiper.mySwiper.slider-container
        .pre-btn
            button.pre-btn
                i.fa-solid.fa-chevron-left
        .nxt-btn
            button.nxt-btn
                i.fa-solid.fa-chevron-right
        +slide(filmSlides)         
    section.social-network
        +social(socials)
    section.home-container
        .home-container__heading
            h3 Trending
            +btnTrending(btnTrendings)
        .home-container__main
            +filmListTrending(filmLists)
    section.home-container
        .home-container__heading
            h3 Genre
            a(href='./watch.html')
                span View All
                i.fa-solid.fa-chevron-right
        .home-container__main
            +filmListGenre(filmLists)

