extends ../layout/layout.pug
block vars
    -title= 'Watch'
block js
    script(src='./js/watch.js')
block main
    section.main__video
        .row.gx-3.gy-5.ab
            .col-xl-9
                .video-left
                    video(controls='')
                        source(src='./videos/1.mp4' type='video/mp4')
                        source(src='movie.ogg' type='video/ogg')
                        |                                 Your browser does not support the video tag.
                    .video-left__favourite
                        a(href='')
                            i.fa-solid.fa-heart-circle-check
                            span Add favourite
            .col-xl-3
                .video-right
                    h2 CHOOSE SERVER
                    .video-right__title
                        p If current server doesn&apos;t work please try other servers below.
                    ul
                        li
                            a(href='')
                                i.fa-solid.fa-play
                                div
                                    h3 Sever
                                    span Upload
                        li
                            a(href='')
                                i.fa-solid.fa-play
                                div
                                    h3 Sever
                                    span Vidcloud
    section.social-network
        nav.social-network__list
            a.item(href='./detail.html' style='--i:#1DA1F2;')
                i.fa-brands.fa-twitter
                span Twitter
            a.item(href='' style='--i:#3B5998;')
                i.fa-brands.fa-square-facebook
                span Facebook
            a.item(href='' style='--i:#4DC247;')
                i.fa-brands.fa-whatsapp
                span WhatsApp
            a.item(href='' style='--i:#CB2027;')
                i.fa-brands.fa-pinterest
                span Pinterest
            a.item(href='' style='--i:#0088CC;')
                i.fa-brands.fa-telegram
                span Telegram
            a.item(href='' style='--i:#848484;')
                i.fa-solid.fa-envelope
                span Email
            a.item(href='' style='--i:#FF6550;')
                i.fa-solid.fa-plus
                span More
    section.main__detail
        .row.gy-5.gx-3
            .col-xl-2.col-sm-12.col-md-2
                .detail-poster
                    .detail-poster__image
                        img(src='./images/action1.jpg' alt='')
                    .detail-poster__mark
                        .result
                            h2 9.2
                            |  /
                            span 26 voted
                        progress#file(value='90' max='100')  32% 
                        .btn
                            button
                                i.fa-regular.fa-face-smile
                            button
                                i.fa-regular.fa-face-frown-open
            .col-xl-8.col-sm-12.col-md-8
                .detail-content
                    ul.detail-content__heading
                        a(href='') Home
                        li
                            a(href='') Movies
                        li
                            a(href='') The Lair
                    h2 The Lair
                    div.detail-content__stats
                        strong HD
                        button IMDB: 8
                    .detail-content__des
                        p
                            | Royal Air Force pilot Lt. Kate Sinclair is on her final flight mission when her jet is shot down over one of the most dangerous rebel strongholds in Afghanistan. She finds refuge in an abandoned underground bunker where deadly man-made creatures known as Ravagers — half-human, half-alien, and hungry for human flesh — are awakened.
                    .row.gy-3.gx-5
                        .col-xl-6.col-sm-6
                            .detail-content__row
                                .item
                                    strong Released:
                                    span 2022-11-23
                                .item
                                    strong Genre:
                                    span  Comedy, Drama
                                .item
                                    strong Casts:
                                    span Tom Hanks, Manuel Garcia-Rulfo, Cameron Britton, Joe Fishel, Mariana Treviño
                        .col-xl-6.col-sm-6
                            .detail-content__row
                                .item
                                    strong Duration:
                                    span 126 min
                                .item
                                    strong Country:
                                    span  Sweden, United States of America
                                .item
                                    strong Production:
                                    span Playtone, Stage 6 Films, 2DUX², Svensk Filmindustri
            .col-xl-2.col-sm-12.col-md-2
                .trailer
                    img(src='./images/action1.jpg' alt='')
                    .play
                        i.fa-solid.fa-video
                        span Trailer
            .trailer-model
                .form
                    .form__close
                        i.fa-solid.fa-xmark
                    //- iframe(width='100%' height='500' src='https://www.youtube.com/embed/ebjFxaZfrQw" title="YouTube video player' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    iframe(width='100%' height='500' src='https://www.youtube.com/embed/ebjFxaZfrQw' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')


    section.home-container
        .home-container__heading
            h3 Type of Film
            a(href='./watch.html')
                span View All
                i.fa-solid.fa-chevron-right
        .home-container__main
            .row.gy-5.mobile
                +filmList("action","./images/action1.jpg","The Lair","2022","90 m")
                +filmList("action","./images/action2.jpg","The Seven Deadly Sins: Grudge of Edinburgh Part 1","2022","52 m")
                +filmList("action","./images/action3.jpg","High Heat","2021","84 m")
                +filmList("adventure","./images/adventure1.jpg","Wickensburg","2021","126 m")
                +filmList("adventure","./images/adventure2.jpg","The Amazing Maurice","2022","90 m")
                +filmList("animation","./images/animation1.jpg","Sonic Prime","2021","120 m")
                +filmList("animation","./images/animation2.jpg","Beauty and the Beast: A 30th Celebration","2022","110 m")
                +filmList("comedy","./images/comedy1.jpg","The Snowball Effect","2022","120 m")
                +filmList("comedy","./images/comedy2.jpg","Christmas Carole","2019","120 m")
                +filmList("comedy","./images/comedy3.jpg","Babylon","2022","120 m")
                +filmList("comedy","./images/comedy4.jpg","The Fabulous","2022","100 m")
                +filmList("drama","./images/drama1.jpg","Treason","2022","120 m")
                +filmList("drama","./images/drama2.jpg","The Fabulous","2022","110 m")
                +filmList("drama","./images/drama3.jpg","The Interest of Love","2022","60 m")
                +filmList("drama","./images/drama4.jpg","A Brush with Christmas","2022","9 m")


