
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    @include responsive(phone)  { 
        font-size: 56.5%;

    }

}
body {
    position: relative;
    background: $grey-color3;
    @include responsive(tablet-large) {
        background: $white-color;
    }
}
main {
    @include responsive(tablet-large) {
        padding-top: 10rem;
        padding: 11rem 0;
        margin-left: 0px;
    }
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 29rem;
    padding: 7rem 2rem;
  
    background: $white-color;
 
  
}
.form-container {
    position: fixed;
    z-index: 10;

    width: 100%;
    height: 100%;

    background: rgba(0, 25, 51, 0.6);
   
    display: none;
    transition: all 0.25s;
    animation: fadeIn 0.3s linear;

    &.show {
        display: block;
    }
}

