.home-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    .mobile {
        @include responsive(phone) {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
    &__heading {
        display: flex;
        gap: 1rem;
        align-items: center;
        .btn-list{
            .btn {
                padding: 0.7rem 1rem;
                cursor: pointer;
                border-radius: 0.4rem;
                border: none;
                outline: none;
                &.active {
                    background: $orange-color;
                }
                &:not(:first-child) {
                    margin-left: 1rem;
                }
            }
        }
        h3 {
            @include titleText(2.6rem);
            
        }
        a {
            font-size: 1.6rem;
            color: $black-color;
            margin-left: auto;
            @include flexCenter(row);
            gap: 1rem;
            &:hover {
                color: $orange-color;
            }
        }

    }
    .oneFilm{
        &.hide {
            display: none;
        }
    
    }
    .trending {
        &.hide {
            display: none;
        }
    }
}
.detail-content {
    font-size: 1.6rem;
    color: $black-color;
    @include flexCenter(column);
    align-items: flex-start;
    line-height: 2.4rem;
    gap: 2rem;
    &__heading {
        @include flexCenter(row);
        justify-content: start;
        gap: 2rem;
        li {
            list-style: circle;
        }
        a {
      
            color: $black-color;
            &:hover {
                color: $orange-color;
            }
        }
        
        
    }
    h2 {
        font-weight: 500;
        font-size: 3rem;
        &:hover {
            cursor: pointer;
            color: $orange-color
        }
    }
    &__stats{
        font-size: 1.6rem;
        
        strong {
            cursor: pointer;
        }
        @include flexCenter(row);
        gap: 2rem;
        button {
            font-weight: 700;
            cursor: pointer;
            background: none;
            color: $yellow-color;
            outline: none;
            border: none;
        }
    }
    &__des {}
}
