.home-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    &__heading {
        display: flex;
        h3 {
            @include titleText(2.6rem);
            
        }
        a {
            font-size: 1.6rem;
            color: $black-color;
            margin-left: auto;
            @include flexCenter(row);
            gap: 1rem;
            &:hover {
                color: $orange-color;
            }
        }
    }
    .oneFilm{
        &.hide {
            display: none;
        }
    
    }
}
.detail-content {
    font-size: 1.6rem;
    color: $black-color;
    @include flexCenter(column);
    align-items: flex-start;
    line-height: 2.4rem;
    gap: 2rem;
    &__heading {
        @include flexCenter(row);
        justify-content: start;
        gap: 2rem;
        li {
            list-style: circle;
        }
        a {
            color: $black-color;
            &:hover {
                color: $orange-color;
            }
        }
        
        
    }
}