.main__detail {
    @include flexCenter(column);
    gap: 2rem;
    .detail-poster {
 
        cursor: pointer;
        @include responsive(phone) {
            @include flexCenter(row);
            gap: 1rem;
            justify-content: flex-start;
            align-items: flex-end;
        }
        &__image {
            width: 100%;
            @include responsive(phone) {
                width: 30%;
            }
            img {
                width: 100%;
               
            }
        }
        &__mark {
            @include flexCenter(column);
            gap: 1rem;
            align-items: flex-start;
            .result {
                @include flexCenter(row);
            }
            @include responsive(phone) {
           
              gap: 2rem;
              width: 100%;;
            }
            progress {
                width: 100%;
                border-radius: 0.4rem;
                height: 0.4rem;
             
            }
            .btn {
                width: 100%;
                @include flexCenter(row);
                gap: 1rem;
                @include responsive(phone) {
                    display: block;
                }
                justify-content: space-between;
                button {
                    @include responsive(phone) {
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                    cursor: pointer;
                    border: none;
                    outline: none;
                    border-radius: 0.4rem;
                    padding: 1rem 3rem;
                    &:first-child {
                        color: $green-color;
                    }
                    &:last-child {
                        color: $red-color;
                    }
                    i {
                        font-size:1.4rem;
                    }
                }
            }
        }
    }
}

.trailer {
    @include responsive(phone) {
        display: none;
    }
    width: 100%;
    height: 50%;
    position: relative;
    color: $white-color;
    border-radius: 0.4rem;

    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        border-radius: 0.4rem;
    }
    .play {
        font-size:2rem;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        @include flexCenter(row);
        gap: 1rem;
        background-color: rgba(0, 25, 51, 0.6);
      
        border-radius: 0.4rem;
    }
}