.footer {
    @include responsive(tablet-large) {
        margin-left: 0;
    }
    @include flexCenter;
    flex-direction: column;
    gap: 2rem;
    background: $white-color;

    text-align: center;
    margin-left: 29rem;
    padding: 2rem;

    &__logo {
        width: 100%;
        img {
            width: 6rem;
            height: 6rem;
            object-fit: cover;
        }
    }
    &__menu{
        li {
            position: relative;
            display: inline;
            line-height: 1.4rem;
            &:not(:first-child) {
                margin-left: 1.6rem;
            }
            a {
                font-size: 1.4rem;
                font-weight: 700;
                color: $black-color;

            }
            &:hover a {
                color: $orange-color;
            }
            &.sub {
                font-weight: 700;
               

            }
        }
       
    }
    &__copy {
        font-size: 1.4rem;
      
        color: $black-color;
    }
    
}