
.header {
    @include responsive(tablet-large) {
        z-index: 9;
        padding: 1rem 0px;
    }

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    background: $black-color;
    color: $white-color;

    padding: 0.4rem 0px;

    &__content {
     
        @include flexCenter(row);
        @include responsive(tablet-large) {
            flex-wrap: wrap;
            padding: 0 1rem;
        }

        height: 100%;

   
    
        &--logo {
            @include responsive(tablet-large) {
                @include flexCenter(row);
                width: auto;
               
            }

            width: 30rem;

            cursor: pointer;

            img {
                width: 3rem;
                height: 3rem;

                object-fit: cover;
            }
        }

        &--search {
            @include responsive(tablet-large) {
                order: 3;
                width: 100%;
                margin-top: 1rem;
            }

            width: 50rem;

            form {
                @include flexCenter(row);
                @include borderRadius(0.6rem);

                position: relative;
                justify-content: start;
                height: 3rem;

                background-color: $white-color;

                padding-left: 1.2rem;

                button {
                    position: absolute;

                    background: none;

                    border: none;

                    cursor: pointer;

                    i {
                        @include icon($black-color);
                    }
                }

                input {
                  @include borderRadius(0.6rem);


                    height: 100%;
                    width: 100%;

                    font-size: 1.4rem;
                    line-height: 21px;

                    outline: none;
                    border: none;
                    padding-left: 2.5rem;

                }

            }
        }

        &--login {
            @include responsive(tablet-large) {
                padding: 10px;
                background: none
            }

            @include flexCenter(row);
            column-gap:0.9rem;

            padding: 1rem 1.2rem;

            font-size: 1.4rem;

            margin-left: auto;
            background: $grey-color;

            cursor: pointer;

            i {
                @include icon($white-color);

            }

            p {
                @include responsive(tablet-large) {
                    display: none;
                }
            }
        }
    }
}

.checkbox-symbol {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  
  .checkbox-container {
    box-sizing: border-box;
    background: #ffffff;
    color: #222;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .checkbox-container * {
    box-sizing: border-box;
  }
  
  .checkbox-input {
    position: absolute;
    visibility: hidden;
  }
  
  .checkbox {
    @include borderRadius(0.6rem);


    user-select: none;
    cursor: pointer;
    padding: 6px 8px;

    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
  }
  
  .checkbox:not(:last-child) {
    margin-right: 6px;
  }
  
  .checkbox:hover {
    background: rgba(0, 119, 255, 0.06);
  }
  
  .checkbox span {
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  
  .checkbox span:first-child {
    position: relative;
    flex: 0 0 18px;
    width: 18px;
    height: 18px;

    @include borderRadius(0.4rem);

    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.3s ease;
  }
  
  .checkbox span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transform: translate3d(0, 0, 0);
  }
  
  .checkbox span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  
  .checkbox:hover span:first-child {
    border-color: #0077ff;
  }
  
  .checkbox-input:checked + .checkbox span:first-child {
    background: #0077ff;
    border-color: #0077ff;
    animation: zoom-in-out 0.3s ease;
  }
  
  .checkbox-input:checked + .checkbox span:first-child svg {
    stroke-dashoffset: 0;
  }
