
.header {
    @include responsive(tablet-large) {
        z-index: 9;
        padding: 1rem 0px;
    }

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    background: $black-color;
    color: $white-color;

    padding: 0.4rem 0px;

    &__content {
     
        @include flexCenter;
        @include responsive(tablet-large) {
            flex-wrap: wrap;
            padding: 0 1rem;
        }

        height: 100%;

   
    
        &--logo {
            @include responsive(tablet-large) {
                @include flexCenter;
                width: auto;
               
            }

            width: 30rem;

            cursor: pointer;

            img {
                width: 3rem;
                height: 3rem;

                object-fit: cover;
            }
        }

        &--search {
            @include responsive(tablet-large) {
                order: 3;
                width: 100%;
                margin-top: 1rem;
            }

            width: 50rem;

            form {
                @include flexCenter;
                position: relative;

                height: 3rem;

                background-color: $white-color;

                padding-left: 1.2rem;
                border-radius: 0.6rem;

                button {
                    position: absolute;

                    background: none;

                    border: none;

                    cursor: pointer;

                    i {
                        @include icon($black-color);
                    }
                }

                input {
                    height: 100%;
                    width: 100%;

                    font-size: 1.4rem;
                    line-height: 21px;

                    outline: none;
                    border: none;
                    padding-left: 2.5rem;
                    border-radius: 0.5rem;
                }

            }
        }

        &--login {
            @include responsive(tablet-large) {
                padding: 10px;
                background: none
            }

            @include flexCenter;
            column-gap:0.9rem;

            padding: 1rem 1.2rem;

            font-size: 1.4rem;

            margin-left: auto;
            background: $grey-color;

            cursor: pointer;

            i {
                @include icon($white-color);

            }

            p {
                @include responsive(tablet-large) {
                    display: none;
                }
            }
        }
    }
}