.card-firm {
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    height: 100%;
    height: auto;

    &__main {
        position: relative;
        width: 100%;
        height: 100%;
        .poster {
            width: 100%;
            height: 27rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .quality {
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 101;

            font-weight: 700;
            font-size: 1.6rem;
            color: $black-color;
            background: $line-color;

            padding: 0.2rem 0.4rem;
            border-radius: 0.4rem;
        }

        .play {
            @include flexCenter;
            justify-content: center;
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 100;
            top: 50%;
            left: 50%;

            width: 100%;
            height: 100%;

            background: rgba(0, 25, 51, 0.6);
            color: $white-color;

            cursor: pointer;
            opacity: 0;
            transition: all 0.5s;
            i {
                font-size: 6rem;
            }
        }
        &:hover .play{
            opacity: 1;
        }
    }

    &__name {
        width: 100%;

        color: $black-color;

        font-size: 1.5rem;
        font-weight: 700;

        &:hover {
            color: $orange-color;
        }
    }

    &__info {
        @include flexCenter;

        width: 100%;
        font-size: 1.4rem;

        .item {
            &:not(:first-child) {
                margin-left: 1rem;
                color: $grey-color;
            }

            &.star {
                @include flexCenter;
                justify-content: center;

                background: $yellow-color;
                
                font-weight: 700;
                font-size: 1.2rem;
                text-align: center;

                padding: 0.2rem 0.4rem;
                border-radius: 0.3rem;
            }

        }
        i {
            font-size: 0.6rem;
            color: $black-color;
        }
    }


}