$black-color:rgb(10, 10, 10);
$white-color:#fff;
$bg-color:#F2F2F2;
$line-color:linear-gradient(to right, rgb(190, 236, 190), rgb(24, 163, 24));
$orange-color:#c35854;
$grey-color:#393939;
$grey-color2:#e9e1e1;
$grey-color3:#f2f2f2;
$yellow-color: #ecc761;
$blue-color: rgb(61, 61, 161);
$black2-color:#222222;
$green-color:rgb(5, 90, 5);
$red-color:#ce1d17;