.container
  footer.footer
    .footer__logo
      a(href='')
        img(src='../Images/logo.png' alt='')
    ul.footer__menu
      li
        a(href='') Terms of service
      li.sub -
      li
        a(href='') Contact
      li.sub -
      li
        a(href='') Map
    p.footer__copy Active
