- var links = data.link
- var linkChildrens = data.linkChildren
aside.sidebar
  #menu-close-btn
    span
  nav.sidebar__nav
    each link in links
      ul.nav-list
        li.nav-list__item
          if link.icon == null
            a.nav-list__item--noicon
              span= link.text
            ul.nav-list__grid
              each linkChildren in linkChildrens
                if linkChildren.parent == link.parent
                  li.type(data1= linkChildren.type)
                    a= linkChildren.text
          else
            a.nav-list__item--icon(href=link.href)
              i(class= link.icon)
              span= link.text
