aside.sidebar
  #menu-close-btn
    span
  nav.sidebar__nav
    ul.nav-list
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-solid.fa-house
          span Home
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-solid.fa-ranking-star
          span Top IMDB
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-solid.fa-film
          span Movies
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-solid.fa-tv
          span TV Shows
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-brands.fa-android
          span Android Ap
      li.nav-list__item
        a.nav-list__item--noicon(href='')
          span Genre
        ul.nav-list__grid
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
      li.nav-list__item
        a.nav-list__item--noicon(href='')
          span Country
        ul.nav-list__grid
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
          li
            a(href='') 1
