aside.sidebar
  #menu-close-btn
    span
  nav.sidebar__nav
    ul.nav-list
      li.nav-list__item
        a.nav-list__item--icon(href='./')
          i.fa-solid.fa-house
          span Home
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-solid.fa-ranking-star
          span Top IMDB
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-solid.fa-film
          span Movies
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-solid.fa-tv
          span TV Shows
      li.nav-list__item
        a.nav-list__item--icon(href='')
          i.fa-brands.fa-android
          span Android Ap
      li.nav-list__item
        a.nav-list__item--noicon
          span Genre
        ul.nav-list__grid
          li.type(data1= "all")
            a All
          li.type(data1= "action")
            a Action
          li.type(data1= "adventure")
            a Adventure
          li.type(data1= "animation")
            a Animation
          li.type(data1= "comedy")
            a Comedy
          li.type(data1= "drama")
            a Drama
      li.nav-list__item
        a.nav-list__item--noicon(href='')
          span Country
        ul.nav-list__grid
          li.type(data1= "all")
            a All
          li.type(data1= "Brazil")
            a Brazil
          li.type(data1= "China")
            a China
          li.type(data1= "HongKong")
            a HongKong
          li.type(data1= "comedy")
            a Italy
          li.type(data1= "Italy")
            a Canada